h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* ========== HEADER STYLES ========== */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.menu-list,
.contact-block {
    display: none;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-studio {
    color: #2e2f42;
}

.mobile-burger-icon {
    display: block;
    border: 1px solid #000;
}

@media screen and (min-width: 768px) {
    .mobile-menu-burger {
        display: none;
    }

    .nav-container {
        display: flex;
        align-items: center;
    }

    .menu-list {
        display: flex;
        gap: 40px;
    }

    .contact-block {
        display: block;
        font-style: normal;
    }

    .header-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-logo {
        margin-right: 120px;
    }

    .menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .studio-active {
        position: relative;
        color: #404bbf;
    }
        
    .studio-active::after {
        content: "";
        position: absolute;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        left: 0px;
        bottom: -1px;
        background: #404bbf;
    }

    .menu-link:hover,
    .menu-link:focus,
    .contact-list-link:hover,
    .contact-list-link:focus {
        color: #404bbf;     
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contact-list-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: inherit;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
        }

    .contact-list {
        flex-direction: row;
        gap: 40px;
        }

    .contact-list-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
}

/* ========== MOBILE MENU STYLES========== */

@media screen and (max-width: 767px) {
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-menu.is-open {
        transform: translateX(0%);
    }

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.mobile-menu-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #ffffff;
}

.mobile-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
    color: #404bbf;
}

.mobile-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-nav {
    margin-bottom: 168px;
}

.mobile-menu-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mobile-menu-contact-item:hover .mobile-menu-contact-link,
.mobile-menu-contact-item:focus .mobile-menu-contact-link {
    color: #4d5ae5;
}

.mobile-menu-social-list {
    display: flex;
    gap: 40px;
}

.mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-icon {
    fill: #f4f4fd;
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: #31D0AA;
}
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* ========== BACKDROP STYLES ========== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .modal {
        width: 288px;
        min-height: 623px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    border-radius: 4px;
    color: #2e2f42;
    padding: 72px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    background-color: #e7e9fc;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-description {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-wrapper {
    margin-bottom: 8px;
}

.form-field-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.form-field-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-comment:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.form-input:focus+.form-field-icon {
    fill: #4D5AE5;
}

.form-text-wrapper {
    margin-bottom: 16px;
}

.form-comment {
    resize: none;
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
}

.form-comment:focus {
    border-color: #4D5AE5;
}

.form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration: none;
    color: #4d5ae5;
}

.form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked+.form-checkbox-label .form-own-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.form-checkbox:focus+.form-checkbox-label .form-own-checkbox {
    border-color: #4d5ae5;
}

.form-checkbox-wrapper {
    margin-bottom: 24px;
}

.contact-form-button {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-button:hover,
.contact-form-button:focus {
    background-color: #404bbf;
}

/* ========== HERO STYLES ========== */

.hero-section {
    background-color: #2e2f42;
    max-width: 320px;
    margin: 0 auto;
    padding: 72px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-mob@2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 216px;
}

.hero-button {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        display: block;
        margin: 0 auto;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-tablet.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-img.jpg);
    }

    .hero-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero@2x.jpg);
}
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* ========== BENEFITS STYLES ========== */

@media screen and (max-width: 1157px) {
    .benefits-icon {
        display: none;
    }
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-list-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .benefits-list-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-list-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-icon {
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .benefits-list-item {
        width: calc((100% - 24px * 3) / 4);
    }

   .benefits-list-title {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
   }

   .benefits-list-text {
        font-weight: 400;
   }
}

/* ========== TEAM STYLES ========== */

.team-section {
    background-color: #f4f4fd;
}

.section-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .team-list {
        max-width: 264px;
    }
}

.team-list-item {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-member-name,
.portfo-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-member-name {
    text-align: center;
}

.team-member-text,
.portfo-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-member-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-card-text {
    padding: 32px 0;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: #404BBF;
}

.team-social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-list {
        max-width: 552px;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        gap: 24px;
    }
    
    .team-list-item {
        width: calc((100% - 72px) / 4);
    }
}
/* ========== PORTFOLIO STYLES ========== */

.portfo-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media screen and (max-width: 767px) {
    .portfo-list-img {
        width: 288px;
        height: 280px;
    }
}

@media screen and (max-width: 1157px) {
    .portfo-list-item {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

.portfo-card-text {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

@media screen and (min-width: 768px) {
    .portfo-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    
    .portfo-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfo-list {
        row-gap: 48px;
    }

    .portfo-list-item {
        width: calc((100% - 24px * 2) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfo-list-item:hover,
    .portfo-list-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

.portfo-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    color: #f4f4fd;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    top: 0px;
    left: 0px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfo-list-item:hover .overlay {
    transform: translateY(0%);
}

/* ========== FOOTER STYLES ========== */

.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-studio,
.footer-text {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
}

.footer-social-text,
.subscribe-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31D0AA;
}

.subscribe-form {
    display: flex;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
    color: #ffffff;
    opacity: 0.3;
}

.subscribe-input::placeholder {
    color: #ffffff;
    opacity: 0.6;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
}

.footer-tg-icon {
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .footer-logo,
    .footer-social-text,
    .subscribe-text {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        gap: 72px;
    }

    .subscribe-form {
        flex-direction: column;
    }

    .subscribe-btn {
        width: 165px;
        margin-left: auto;
        margin-right: auto;
    }

    .subscribe-input {
        width: 100%;
    }

    .subscribe-form {
        gap: 16px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        flex-wrap: wrap;
        padding-left: 108px;
    }
}

@media screen and (min-width: 768px) {
    .footer-text {
        width: 264px;
    }

    .footer-container {
        align-items: baseline;
    }

    .footer-main {
        margin-right: 24px;
        margin-bottom: 72px;
        ;
    }

    .subscribe-input {
        width: 264px;
    }

    .subscribe-form {
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-main {
        margin-right: 120px;
    }

    .footer-container {
        flex-wrap: no-wrap;
    }

    .footer-subscribe {
        margin-left: 80px;
    }

}